.top-nav {
    background-color: $primary_color;
    font-size: 10px;
    color: white;
    height: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    .wrapper {
        display: flex;
        justify-content: flex-end;        
    }
    span {
        padding-left: 10px;
    }
}

.bottom-nav {
    text-transform: uppercase;
    padding: 13px 0;
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo-container {
            img {
                width: 80px;
            }
        }

        .menu {
            font-size: 12px;
            ul {
                list-style-type: none;
                li {
                    display: inline-block;                    
                    padding: 0 10px;
                    a {
                        font-weight: bold;
                    }
                }
            }
        }

        .nav-input {
            input {
                border: none;
                border-bottom: 2px solid $primary_color;

            }
        }

    }
}

.jumbotron {
    height: 300px;
    background-image: url('../img/jumbotron.jpg');
    background-size: cover;
}