main {

    .home-background {
        background-color: $secondary_color;
        position: relative;

        h2 {
            background-color: $primary_color;
            color: white;
            text-transform: uppercase;
            width: 239px;
            position: absolute;
            top: -24px;
            left: 157px;
            padding: 10px 13px;

        }
        .comics-container {
            padding-top: 55px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            color: white;
            .single-comic {
                width: calc( (100% / 6) - 10px  );
                padding-bottom: 25px;
                img {
                    height: 170px;
                }
            }

        }
    }

    .title-description-container {
        width: 70%;
        margin: auto;
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
        .title-description {
            width: 70%;
            h2 {
                color: #003f5e;
                text-transform: uppercase;
                font-size: 23px;
                padding-bottom: 10px;
            }
            .price-check {
                width: 85%;
                height: 20px;
                background-color: #55ba59;
                padding: 20px 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: #a4ed77;
                .price {
                    color: white;
                }
            }

            p {
                padding: 15px 0;
                padding-right: 25px;
                font-size: 14px;
                line-height: 25px;
            }
        }

        .ad {
            width: 30%;
        }

        
    }

    .d-background {
        background-color: #f6f6f6;
        .details {
            width: 70%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            color: #003f6e;
            
            .talent {
                width: 48%;
                font-size: 15px;
                h2 {
                    padding: 15px 0;
                }

                .art {
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 0;
                    border-bottom: 1px solid lightgrey;
                    border-top: 1px solid lightgrey;

                    .artists {
                        width: 70%;
                        color: black;
                    }
                }

                .written {
                    
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 0;
                    border-bottom: 1px solid lightgrey;
  
                    .writers {
                        width: 70%;
                        color: black;
                    }
                }
                
            }

            .specs {
                width: 48%;

                h2 {
                    padding: 14px 0;
                }
                .specs-lines {
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 0;
                    border-bottom: 1px solid lightgrey;
                    border-top: 1px solid lightgrey;
                    span {
                        color: black;
                    }
                }
            }
        }
    }
    

}